#container{
    
}
#background-container{
    
}
.background-container--img{
    position: relative;
    padding-top: 25%;
    background: url('/storage/img/wallpaperflare.com_wallpaper13.png') center / cover no-repeat;
    background-size: 100% 800px;
}
.background-container--img-text{
    position: absolute;
    color: white;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.background-container--img-text--heading{
    font-size: 100px;
}
.background-container--img-text--subheading{
    font-size: 40px;
}

#subject-choose-container{

}
.subject-choose-container-box{
    display: flex;
    justify-content: space-around;

}

.subject-choose-container-box-1{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 3px 10px #ccc;
    border-radius: 5%;
    transition: width 1s;
    transition-delay: 0.5s;
}

.subject-choose-container-box-1:hover{
    width: 500px;
}

.subject-choose-container-box-1 > a{
    text-decoration: none;
}


.subject-choose-container-box-1-img{
    margin-top: 25px;
    width: 200px;
    height: 200px;
    transform: translateX(25%);
    left: 50%;
}

/* .subject-choose-container-box-1-img:hover{
    display: none;
} */

/* .subject-choose-container-box-1-img-2:hover{
    display: block;
} */

.subject-choose-container-box-1-img-button{
    border: 2px solid #e8cac9;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    
}

.subject-choose-container-box-1-img-button:hover{
    background-color: #e8cac9;
    transition: 0.4s;
}

#level-choose-container{

}

.level-choose-container-text{
    text-transform: uppercase;
    text-align: center;
}

.level-choose-container-text--heading{
    margin: 10px 0 10px 0;
}

/* #level-choose-container-box{
    margin:  20px 0 20px 0;
    display: flex;
    justify-content: space-around;
}

.level-choose-container-box-1{

}

.level-choose-container-box-img{
    position: relative;
    
}

.level-choose-container-box-img-1{
    width: 280px;
    height: 337px;
    border-radius: 50px;
}

.level--choose-container-box-text{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150%);
    text-align: center;
    color: white;
    text-shadow: 0 5px 4px black;
    width: 100%;
    
}

.level-choose-container-box-text--heading{

}

.level-choose-container-box-text--des{
    
} */