#container{

}
.quiz-container{

}
.quiz-container-heading{
    margin: 60px 0 0 0;
    text-align: center;
}
#quiz-form{
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    box-shadow: 0 10px 10px #ccc;
    border-radius: 10px;
    background-color: #fff;
}
.quiz-form-question{

}
.quiz-form-question-paragrapth{
    margin: 10px 0;
}
.quiz-form-question-label{
    display: block;
    margin-bottom: 10px;
}
.quiz-form-question-answer{
    transition: display 0.5s ease-in-out;
    display: none;
}

.submitbutton {
    background-color: #fdcbbd;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    margin: 0 0 10px 0;
}

.submitbutton:hover{
    transition: 0.5s;
    background-color: #e1877f;
}