#container{

}
#background-container{
    
}
.background-container--img{
    position: relative;
    padding-top: 25%;
    background: url('/storage/img/wallpaperflare.com_wallpaper1.jpg') center / cover no-repeat;
    background-size: 100% 800px;
    z-index: -3;
}
.background-container--img-text{
    position: absolute;
    color: white;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    /* bottom: 0; */
    transform: translate(-50%, -50%);
}
.background-container--img-text--heading{
    font-size: 100px;
}
.background-container--img-text--subheading{
    font-size: 40px;
}